
.nav{

    @media screen and (min-width: 768px){
        display: flex;
        align-items: center;
    
        justify-content: space-between;
        min-height: 80px;
    }
}

// .nav__item{
//     display: flex;
//     margin-left: 93px;
//     margin-top: 0;
//     margin-bottom: 0;
// }
  
// .nav__item .item:not(:last-child){
//     margin-right: 50px;
// }

.nav__list{
    
    @media screen and (max-width: 767px){
        display: none;
    }
    
    @media screen and (min-width: 768px){
        display: flex;
        margin-left: 88px;;
        margin-top: 0;
        margin-bottom: 0;
    }

    @media screen and (min-width: 1200px){
        margin-left: 93px;
    }
}   
  
.nav__list .nav__item:not(:last-child){
    margin-right: 50px;
}

.nav__link{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--name-color);

    @media screen and (min-width: 768px){
        font-size: 14px;
        line-height: 1.14;   
    }

    &:hover,
    &:focus{
    color: var(--hover-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}
  
.link{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--hover-color);
    position: relative;

    @media screen and (min-width: 768px){
        font-size: 14px;
        line-height: 1.14;

        &::after{
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        position: absolute;
        margin-bottom: -32px;
        bottom: 0;
        background-color: var(--hover-color);
        border-radius: 2px; 
        }
    }
}
  