
.social{
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 24px;
    
    @media (min-width: 1200px){
    padding-bottom: 30px;
    }
}

.social__item:not(:last-child){
    margin-right: 10px;
}

.social__link{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &:hover,
    &:focus{
        background-color: var(--hover-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.social__icon{
    width: 20px;
    height: 20px;
    fill:  #AFB1B8;

    &:hover,
    &:focus{
        fill: var(--white-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}